<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>CookCircle</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/cookcircle.css">

        <%
            let ogImage = "/images/logo.png";
            let ogTitle = "CookCircle";
            let ogDescription = "CookCircle";
            let ogUrl = "/";
            if (typeof og == 'object' && og) {
                ogImage = og.image;
            }
        %>
        <meta property="og:url" content="<%= ogUrl %>" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="<%= ogTitle %>" />
        <meta property="og:description" content="<%= ogDescription %>" />
        <meta property="og:image" content="<%= ogImage  %>" />
    </head>

    <body>
        <nav class="navbar navbar-light bg-primary">
            <a class="navbar-brand" href="/home">
              <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
              CookCircle
            </a>
            <div>
                <a href="/myrecipes"><img src="/images/book-black-48dp.svg"></a>
                <a href="/profile"><img src="/images/account_circle-black-48dp.svg"></a>
            </div>
        </nav>

        <%- body %>
    </body>

</html>